<!-- templates/about.html -->

{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}

        <div class="heading">
            <h5>/* MEET THE AUTHOR */</h5>
            <p style="color: rgb(123, 4, 4);">Hey There!</p>
            <p class="header">
                I'M DAKSH <br>
            </p>
            <p>
                 I developed this web application to reduce <br>
                 the mess of file transfer via cables. <br>
                 Hope you liked it! &#128522
            </p>
        </div>

        <br>
        
        <section class="mb-8 text-center">
            <p>Connect with me on LinkedIn </p> <br>
            <a href="https://www.linkedin.com/in/daksh-deep-791a1a298/" class="btn bg-blue-400 hover:bg-indigo-700 text-white px-3 py-3 rounded-xl" target="_blank">Connect</a>
            <br> <br>
            <p>Developed & designed by Daksh Deep</p>
            <p id="copyright"></p>
        </section>

        <script>
            // Get the current year
            var currentYear = new Date().getFullYear();
        
            // Display the copyright information with current year
            document.getElementById('copyright').innerHTML = 'Copyright: &#169 ' + currentYear;
        </script>
        
        <div class="text-center">
            <a href="{{ url_for('home') }}" class="btn mt-8 bg-yellow-500 hover:bg-yellow-700 text-white px-8 py-3 rounded transition duration-300 inline-block">Back to Home</a>
        </div>
    </div>
</div>

{% endblock %}
