{% extends 'base.html' %}

{% block content %}

<div class="heading">
    <img class="FileFlow" src="static\resources\File-Flow.png" alt="File Flow"> <br>
    <h3>/* THE UNIVERSAL FILE SHARING TOOL */</h3>
    <p class="header">
        The File Sharing client <br>
        with the highest user<br>
        satisfaction.</p>
</div>

<div class="text-center">
    <div style="display: flex; justify-content: center; gap: 1vw;">
            <a href="{{ url_for('upload') }}" class="btn bg-yellow-500 hover:bg-indigo-700 text-white px-8 py-3 rounded-md">Upload</a>
            <a href="{{ url_for('document') }}" class="btn bg-yellow-500 hover:bg-indigo-700 text-white px-8 py-3 rounded-md">Download</a>
            <a href="{{ url_for('about') }}" class="btn bg-yellow-500 hover:bg-indigo-700 text-white px-8 py-3 rounded-md">About</a>
    </div>
</div>
{% endblock %}
