{% extends 'base.html' %}
{% block title %}Upload{% endblock %}
{% block content %}

<div class="flex items-center justify-center ">
    <div class="w-full max-w-md bg-gray-800 rounded-lg overflow-hidden shadow-lg p-8">
        <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
            <h2 class="text-xl font-semibold text-white mb-6">Select Files to Upload</h2>
            <div class="mb-6">
                <label for="files" class="block text-sm font-medium text-white mb-2">Choose files</label>
                <label for="files" class="flex items-center justify-center bg-gray-700 rounded-md cursor-pointer hover:bg-gray-600 py-2 px-4 border border-gray-600">
                    <span class="text-base text-gray-200">Select files</span>
                    <input type="file" name="files" id="files" class="sr-only" multiple onchange="updateFileCount()">
                </label>
                <p id="fileCount" class="text-sm text-gray-500 mt-2">No files selected</p>
            </div>
            <div class="mb-4">
                <input type="checkbox" id="protectFiles" name="protectFiles" onchange="toggleProtectionFields()">
                <label for="protectFiles" class="text-sm font-medium text-gray-200 mb-2 ml-1">Protect my files</label>
            </div>
            <div id="protectionFields" style="display: none;">
                <div class="mb-4">
                    <label for="email" class="block text-sm font-medium text-gray-200 mb-2">Email</label>
                    <input type="email" name="email" id="email" class="form-input rounded-md shadow-sm mt-1 block w-full bg-gray-700 text-white p-2" placeholder="Enter your email">
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-sm font-medium text-gray-200 mb-2">Password</label>
                    <input type="password" name="password" id="password" class="form-input rounded-md shadow-sm mt-1 block w-full bg-gray-700 text-white p-2" placeholder="Enter your password">
                </div>
            </div>
            {% if error %}
                <p class="text-red-500 mb-4">{{ error }}</p>
            {% endif %}
            {% if message %}
                <p class="text-green-500 mb-4">{{ message }}</p>
            {% endif %}
            <button type="submit" class="btn bg-blue-700 hover:bg-blue-500 text-white hover:text-black px-8 py-3 rounded">Upload</button>
            <a href="{{ url_for('home') }}" class="btn mt-8 bg-blue-700 hover:bg-blue-500 text-white hover:text-black px-8 py-3 rounded transition duration-300 inline-block">Back to Home</a>
        </form>
    </div>
</div>

<script>
    function updateFileCount() {
        const input = document.getElementById('files');
        const fileCountElement = document.getElementById('fileCount');
        const fileCount = input.files.length;
        fileCountElement.textContent = fileCount > 0 ? `${fileCount} ${fileCount === 1 ? 'file' : 'files'} selected` : 'No files selected';
    }

    function toggleProtectionFields() {
        const protectionFields = document.getElementById('protectionFields');
        const protectCheckbox = document.getElementById('protectFiles');
        protectionFields.style.display = protectCheckbox.checked ? 'block' : 'none';
    }
</script>

{% endblock %}
